* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.section_banner-and-navbar {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: rgba(1, 1, 1, 0.7);
}
.section-header .title-header {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.section-header .container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-header .btn {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0 1rem;
  max-width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0.5rem;
  background: black;
}
.section-header .btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.section-header .btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: black;
}
.section-header ul {
  color: antiquewhite;
  display: flex;
  list-style-type: none;
}
.section-header ul li {
  margin: 0 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
}
.section-header ul li a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 0.9rem;
}

section.section-banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.section-banner .section-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;
  border: none;
  border-radius: 5px;
  background: transparent;
  padding: 1.5rem 0.5rem;
  min-width: 50vw;
  width: 100%;
}
section.section-banner .section-text .title-banner {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  color: #f6f1e9;
  margin-bottom: 1.5rem;
  max-width: 30vw;
  width: 100%;
}
section.section-banner .section-text .content-input {
  display: flex;
  max-width: 40vw;
  width: 100%;
  border-radius: 20px;
}
section.section-banner .section-text .content-input .input-banner {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 7px;
  margin-right: 0.5rem;
  width: 100%;
}
section.section-banner .section-text .content-input .btn-4 {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  background: rgba(1, 1, 1, 0.7);
  color: #f6f1e9;
  cursor: pointer;
}
section.section-banner .section-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0;
  background: #f9f5f6;
}
.section-about .section-text {
  max-width: 70vw;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
  color: #000000;
}
.section-about .section-text div {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.section-about .section-text p {
  padding: 1rem 2.5rem;
  font-size: 1.05rem;
  font-family: "Courier New", Courier, monospace;
}
.section-about .section-text button {
  all: unset;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f6f1e9;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
  margin-top: 1rem;
}
.section-about .section-text button::after, .section-about .section-text button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.section-about .section-text button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}
.section-about .section-text button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
.section-about .section-text button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.section-about .section-text button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.section-about .section-text button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #dcdcdc 100%);
}
main .title-main {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  margin: 1.5rem 0;
  padding: 1rem;
  color: #000000;
}
main .splide__track {
  padding: 0.5rem 1.5rem;
}
main .splide__track .splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.section-card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: overlay;
  padding: 1.5rem 7.5rem;
}
section.section-card .section-title {
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  margin: 1rem 0;
  color: #000000;
}
section.section-card .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
section.section-card .card-container .card {
  padding: 1.2rem;
  border: none;
  border-radius: 5.8px;
  opacity: 0.95;
  color: #000000;
  background: silver;
  opacity: 0.8;
}
section.section-card .card-container .card .card-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.section-card .card-container .card .card-image .image-responsive {
  display: block;
  max-height: 250px;
  max-width: 100%;
  padding: 0.5rem;
}
section.section-card .card-container .card .card-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
section.section-card .btn-card {
  position: relative;
  padding: 0.5rem 2rem;
  background: linear-gradient(to right, silver, silver);
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.3s ease;
}
section.section-card .btn-card::before,
section.section-card .btn-card::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.section-card .btn-one::before {
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  transform: scaleX(0.1);
  border-radius: 5px;
}
section.section-card .btn-one:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
section.section-card .btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
section.section-card .btn-one:hover::after {
  transform: scaleX(1);
  opacity: 0;
}
section.section-card .btn-card:hover {
  background: #2f4f4f;
  transform: scale(1.05);
}
section.section-card .section-footer {
  margin: 1.5rem 1rem 1rem;
  padding: 1.5rem;
}

.section-deploi {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.section-deploi .title-section-deploi {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: #000000;
}
.section-deploi .content-deploi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.section-deploi .content-deploi .deploi {
  padding: 0.5rem;
  max-width: 40vw;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}
.section-deploi .content-deploi .deploi img {
  width: 25vw;
  margin: 0.5rem 0;
  height: 25vh;
  border-radius: 15%;
  /* border-radius: 50%; */
}
.section-deploi .content-deploi .deploi .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem 0 1rem;
}
.section-deploi .content-deploi .deploi .info .name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
}
.section-deploi .content-deploi .deploi .info .profission {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #000000;
}
.section-deploi .content-deploi .deploi .info .text {
  text-align: justify;
  /* padding: .2rem; */
  color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

footer.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.5rem;
  background: rgba(1, 1, 1, 0.8);
  font-family: "Courier New", Courier, monospace;
  color: #f6f1e9;
}
footer.footer .title-footer {
  font-size: 1.5rem;
  text-transform: uppercase;
}
footer.footer .content-link {
  display: flex;
  list-style-type: none;
}
footer.footer .content-link li.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0.5rem;
  width: 100%;
  cursor: pointer;
}
footer.footer .content-link li.item div {
  padding: 0.2rem;
  z-index: 2;
}
footer.footer .content-link li.item i {
  margin: 0 0.5rem;
  transform: translateY(-10px) translateX(-20px) scale(1.5);
}/*# sourceMappingURL=style.css.map */