footer.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: .5rem;
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

footer.footer .title-footer {
    font-size: 1.5rem;
    text-transform: uppercase;
}

footer.footer .content-link {
    display: flex;
    list-style-type: none;
}

.content-link li.item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 .5rem;
    width: 100%;
    cursor: pointer;
}

.content-link li.item > div {
    padding: .2rem;
    z-index: 2;
}

.content-link li.item i {
    margin: 0 .5rem;
    color: #D6E4E5;
    transform: translateY(-10px) translateX(-20px) scale(1.5);
}

