* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header nav .title-header {
  color: antiquewhite;
  font-size: 1.5rem;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin: 0 0.5rem;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 0.9rem;
}

header nav button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  margin: 0 0.25rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  cursor: pointer;
}
