main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

main .title-main {
  color: antiquewhite;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 1.5rem 0;
  padding: 1rem;
}

amin .splide__track {
  padding: .5rem 1.5rem;
}

main .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
