/* Estilos para a seção principal */
section.section-card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #e1e1e1, #c2c2c2);
  padding: 1.5rem 7.5rem;
}

section.section-card .section-title {
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  color: #232323;
  padding: 1rem;
  margin: 1rem 0;
}

/* Estilos para os cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem;
  background: linear-gradient(
      to bottom,
      rgba(225, 225, 225, 0.95) 0%,
      rgba(194, 194, 194, 0.95) 100%
    ),
    radial-gradient(
        at top center,
        rgba(225, 225, 225, 0.9) 0%,
        rgba(194, 194, 194, 0.9) 120%
      )
      #f0f0f0;
  background-blend-mode: overlay, darken, multiply, multiply;
  color: #232323;
  border: none;
  border-radius: 5.8px;
  opacity: 0.95;
}

.card-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image .image-responsive {
  display: block;
  max-height: 250px;
  max-width: 100%;
  padding: .5rem;
}

/* Estilos para os botões */
.btn-card {
  position: relative;
  color: #ffffff;
  padding: 0.5rem 2rem;
  transition: all 0.3s;
  background: linear-gradient(to right, #232323, #121212);
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-card::before,
.btn-card::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  transform: scaleX(0.1);
  border-radius: 5px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.btn-one:hover::after {
  transform: scaleX(1);
  opacity: 0;
}

/* Estilos para o rodapé */
section.section-card .section-footer {
  margin: 1.5rem 1rem 1rem;
  padding: 1.5rem;
}

section.section-card .section-footer button {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  background: none;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
}
